body {
    background-color: #083b4c;
}

.container {
    text-align: center;
}

.container h1 {
    color: white;
}

#containersquare {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 7);
    height: 120px;
    background-color: #1389b2;
    margin: 5px;
    font-size: 20px;
    font-family: cursive;
}

.squarefizz {
    background-color: rgb(63, 235, 63);
    font-size: 20px;
    font-family: cursive;
}

.squarebuzz {
    background-color: rgb(248, 248, 37);
    font-size: 20px;
    font-family: cursive;
}

.squarefizzbuzz {
    background-color: red;
    font-size: 20px;
    font-family: cursive;
}