body {
    background-color: #083b4c;
}

.container {
    text-align: center;
}

.container h1 {
    color: white;
}

#containersquare {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(92% / 7);
    height: 120px;
    background-color: #1389b2;
    margin: 5px auto;
}
